@import '~@Assets/scss/media.scss';

.Home {
	position: relative;
	min-height: 100vh;
	padding-top: 56px;

	background-image: url('~@Assets/images/bg_1.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.tabContentItem {
	display: flex;
	align-items: center;
	margin-bottom: 130px;
	@include md() {
		display: block;
	}
	.left {
		flex: 0 0 470px;
		max-width: 470px;
		@include md() {
			margin-bottom: 16px;
		}
	}
}
.tabContentAdvantages {
	display: flex;
	flex-wrap: wrap;
	.tabContentAdvantageItem {
		flex: 0 0 50%;
		margin-bottom: 100px;
	}
}
