@import '@css/media.scss';

.Catalog {
	position: relative;

	.bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		background-image:
			url(~@Assets/img/bg-catalog-1.png),
			url(~@Assets/img/bg-blur-catalog-1.png),
			url(~@Assets/img/bg-blur-catalog-1.png),
			url(~@Assets/img/bg-catalog-1.png),
			url(~@Assets/img/bg-blur-catalog-2.png);
		background-position:
			calc(100% + 100px) -100px,
			calc(100% + 250px) -200px,
			-250px 50%,
			-80px calc(100% + 110px),
			calc(100% + 300px) calc(100% + 300px);
		background-size:
			850px auto,
			850px auto,
			850px auto,
			850px auto,
			1000px auto;
		background-repeat: no-repeat;

		@include lg {
			background-position:
				calc(100% + 100px) -100px,
				calc(100% + 250px) -200px,
				-250px 50%,
				-80px calc(100% + 110px),
				calc(100% + 300px) calc(100% + 300px);
			background-size:
				650px auto,
				650px auto,
				650px auto,
				650px auto,
				800px auto;
			background-repeat: no-repeat;
		}

		@include sm {
			background-image:
				url(~@Assets/img/bg-catalog-1.png),
				url(~@Assets/img/bg-blur-catalog-1.png),
				url(~@Assets/img/bg-catalog-1.png),
				url(~@Assets/img/bg-blur-catalog-1.png);
			background-position:
				45vw -32vw,
				45vw -32vw,
				-39vw calc(100% + 36vw),
				-75vw 115%;
			background-size:
				100% auto,
				100% auto,
				100% auto,
				180% auto;
			background-repeat: no-repeat;
		}
	}

	.header {
		display: flex;
		align-items: top;
	}

	.search {
		margin-left: auto;

		@include sm() {
			display: none;
		}

		&Mobile {
			display: none;
			margin-bottom: var(--global-gap-5);

			&Wrap {
				width: 100%;
			}

			@include sm() {
				display: block;
			}
		}
	}

	.description {
		margin-bottom: var(--global-gap-5);

		@include sm() {
			margin-bottom: var(--global-gap-4);
		}
	}

	.items {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-auto-rows: minmax(370px, 1fr);
			grid-column-gap: var(--global-gap-4);

			@include sm() {
				grid-template-columns: repeat(2, 1fr);
				grid-column-gap: var(--global-gap-4);
				grid-auto-rows: auto;
			}

			@media (max-width: 360px) {
				grid-template-columns: repeat(1, 1fr);
			}

			.item {
				padding-bottom: var(--global-gap-5);
				filter: grayscale(100%);
				transition: filter var(--global-transition);

				&:hover {
					filter: grayscale(0%);

					@include sm {
						filter: grayscale(100%);
					}
				}

				.title {
					display: flex;
					align-items: flex-end;
					padding-bottom: var(--global-gap);
					border-bottom: 1px solid var(--global-color-black);

					@include sm() {
						font-size: 16px;
						min-height: 50px;
					}

					@media (max-width: 360px) {
						min-height: auto;
					}
				}
			}
	}

	.box {
		margin-top: var(--global-gap-4);
		display: flex;
	}

	.imgBox {
		padding-left: var(--global-gap-2);
		padding-right: var(--global-gap-2);
		width: 40%;
		text-align: center;

		img	{
			width: 80%;
		}

		@include sm() {
			width: 100%;
			padding-left: 0;
			padding-right: 0;

			img { width: 100%; }
		}
	}

	.links {
		width: 60%;

		@include sm() {
			display: none;
		}

		.link {
			margin-bottom: 1em;
		}
	}
}
