@import '@css/media.scss';

.Typography {
  margin: 0;
  font-style: normal;
  font-family: var(--font-Gilroy);
  color: var(--global-color-black);

  &.pointer {
    cursor: pointer;
  }

  &.lightColor {
    color: var(--global-color-white);
  }

  &.text {
    margin-bottom: var(--global-gap-4);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    strong {
      font-weight: 600;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.title {
    margin-bottom: var(--global-gap-4);
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
  }

  &.serviceTitle {
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
  }

  &.description {
    margin-bottom: var(--global-gap-4);
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
  }

  &.mainTitle {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;

    text-transform: uppercase;
  }

  &.mainSubtitle {
    font-weight: normal;
    font-size: 50px;
    line-height: 130%;

    text-transform: uppercase;
  }

  &.mainText {
    font-weight: normal;
    font-size: 26px;
    line-height: 150%;
  }

  &.mainTextSmall {
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
  }

  &.miniText {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
  }

  &.smallText {
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
  }

  &.bigCount {
    font-weight: bold;
    font-size: 64px;
    line-height: .7;
  }

  &.subtitle-light {
    font-weight: 600;
    font-size: 24px;
    line-height: 110%;
    text-transform: uppercase;
  }

  &.subtitle {
    font-weight: 700;
    font-size: 34px;
    line-height: 110%;
  }

  &.slogan {
    font-size: 36px;
    line-height: 150%;
  }

  &.sloganMini {
    font-size: 30px;
    line-height: 45px;
  }

  &.namingText {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
  }

  &.labelText {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
  }

  &.errorMessage {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: var(--global-color-red-2);
  }

  &.itemTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;
  }

  &.itemDesc {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
  }

  &.quote {
    font-weight: bold;
    font-size: 2.08333333333vw;
    line-height: 150%;
  }

  &.cardTitle {
    margin-bottom: var(--global-gap-4);
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
  }

  &.nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }

  &.formTitle {
    margin-bottom: var(--global-gap-4);
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
  }

  &.errorText {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: var(--global-color-red-2);
  }

  @include lg {
    &.text {
      font-size: 16px;
    }

    &.mainTitle {
      font-size: 70px;
    }

    &.mainSubtitle {
      font-size: 40px;
    }

    &.miniText {
      font-size: 14px;
    }

    &.subtitle-light {
      font-size: 14px;
      line-height: 130%;
    }

    &.mainText {
      font-size: 22px;
    }

    &.slogan,
    &.sloganMini {
      font-size: 24px;
      line-height: 150%;
    }

    &.itemTitle {
      font-size: 24px;
    }

    &.itemDesc {
        font-size: 16px;
    }

    &.quote {
        font-size: 2.5vw;
    }
  }

  @media (max-width: 979px) {
    &.quote {
        font-size: 2.7vw;
    }
  }

  @include md {
    &.formTitle {
      font-size: 22px;
      line-height: 150%;
    }

    &.labelText {
      font-size: 14px;
      line-height: 18px;
    }

    &.errorMessage {
      font-size: 14px;
      line-height: 18px;
    }

    &.errorText {
      font-size: 12px;
    }
  }

  @include sm {
    &.mainTitle,
    &.mainSubtitle {
      font-size: 32px;
      line-height: 130%;
      font-weight: bold;
    }

    &.miniText {
      font-size: 14px;
    }

    &.mainText {
      font-size: 14px;
    }

    &.slogan,
    &.sloganMini {
      font-size: 20px;
    }

    &.linkByTitle {
      margin-bottom: var(--global-gap-4);

      line-height: 40px;
    }
  }

  @media (max-width: 560px) {
    &.mainTitle,
    &.mainSubtitle {
      font-size: 20px;
    }

    &.title {
      margin-bottom: var(--global-gap-3);
      font-size: 34px;
      line-height: 41px;
    }
    &.description {
      font-size: 16px;
      line-height: 24px;
    }
    &.slogan,
    &.sloganMini {
      font-size: 18px;
      line-height: 27px;
    }

    &.linkByTitle {
      margin-bottom: var(--global-gap-3);

      line-height: 34px;
    }
  }
}
