@import "~@Assets/scss/media.scss";
.Teams {
	position: relative;
	min-height: 100vh;
	padding-top: 56px;
	padding-bottom: 143px;

	background-image: url('~@Assets/images/bg_2.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	@include md() {
		padding: 4px 8px 32px;
		background-image: url('~@Assets/images/bg_2_mobile.webp');
	}

	.head {
		margin-bottom: 18px;
	}
}

.PromoItem {
	display: flex;
	align-items: center;

	@include md() {
		display: block;
	}

	.rowTitle {
		flex: 0 0 348px;
		max-width: 348px;
		@include md() {
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}

	.russia, .bucca {
		flex: 0 0 calc((100% - 348px) / 2);
		align-self: stretch;
		@include md() {
			margin-bottom: 32px;
		}
	}

	.teamItem {
		margin-bottom: 8px;
	}

	.teamsTitle {
		margin-bottom: 47px;
		font-weight: bold;
		font-size: 30px;
		line-height: 26px;

		color: #333333;
		opacity: 0.5;
		text-transform: uppercase;
		@include md() {
			display: none;
			margin-bottom: 20px;
		}
		&.mobile {
			display: none;
			@include md() {
				display: block;
			}
		}
	}

}
.Advantages {
	display: flex;
	margin-bottom: 113px;
	@include md() {
		display: block;
		margin-bottom: 32px;
	}
	.advantageTitle {
		flex: 0 0 696px;
		@include md() {
			margin-bottom: 8px;
			margin-top: 22px;
		}
	}
	.teamItem {
		margin-bottom: 8px;
	}
}
